.navbar .menu {
    display: none;
}
.navbar a{
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .navbar a {/*:not(:first-child) {*/
        display: none;
    }
    .navbar a.menu {
      float: right;
      display: block;
    }
    .navbar.open {
        position: relative;
    }
    .navbar.open a.menu {
          position: absolute;
          right: 0;
          top: 0;
    }
    .navbar.open a {
        float: none;
        display: block;
        text-align: left;
    }
}
