body{
    font-family: 'Fira Code', monospace ;
    color: lime;
    background-color: black;
}

a:link {
    color: cyan
}
a:hover{
    color: magenta
}
a:visited{
    color: magenta
}
a:active{
    color: cyan;
}
nav a{
    color: lime;
    background-color: black;
    text-decoration: none;      
    font-size: 18px
} 
nav a.menu{
    display:none
}
nav a:link {
    color: lime
}
nav a:hover{
    color: lime
}
nav a:visited{
    color: lime
}
nav a:active{
    color: lime
}
nav a.current{
    color: cyan;
    text-shadow: 0 0 0.5em cyan;
}

@media screen and (max-width: 600px) {
    nav a{
        display: none;
    }
    nav a.menu{
	display: block;
	font-size: 32px;

    }
    nav.open a {
        display: block;
        text-align: left;
    }
    iframe{
	height: 500px;
    }
}

footer {
    padding-top: 40px;
    text-align: center;
}
