<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Jordan" />
    <meta name="author" content="Natalie" />
    <meta name="dcterms.date" content="2023-12-23" />
    <meta name="keywords" content="Fish, Shrimp, Mice" />
    <title>Chakras Conquest</title>

    <link rel="stylesheet" href="../../css/style.css" />
</head>
<body>
    <noscript>Please enable javascript to use this menu on mobile</noscript>
    <nav id="nav">
        <a class="menu" href="#" onclick="flipOpen()">&#9776</a>
        <a href="index.html">home</a>
        <a class="posts" href="posts.html">all_posts</a>
        <a href="contact.html">contact</a>
        <a href="https://github.com/jordanvieler" target="_blank">
            <img src="assets/github.svg" alt="Github" width="16px" height="16px">
        </a>
        <a href="https://www.linkedin.com/in/jordanvieler" target="_blank">
            <img src="assets/linkedin.svg" alt="Linkedin" width="16px" height="16px">
        </a>
    </nav>
    <div class="content">
    <header>
    <h1>Chakras Conquest</h1>
    <p>One Cat’s Search for Meaning.</p>
    <p>Jordan</p>
    <p>Natalie</p>
    <p>Published: 2023-12-23</p>
    <p>Updated: 2023-12-24</p>
    <p>Updated: 2023-12-25</p>
    </header>
    <div class="post_frame">
    <div class="post_content">
<ul>
<li><a href="#the-begining" id="toc-the-begining">The Begining</a></li>
<li><a href="#the-middle" id="toc-the-middle">The Middle</a></li>
<li><a href="#the-end" id="toc-the-end">The End</a></li>
</ul>
<h1 id="the-begining">The Begining</h1>
<h1 id="the-middle">The Middle</h1>
<h1 id="the-end">The End</h1>
    </div>
    </div>
    <footer>
    </footer>
</div>
<footer>
    &copy Jordan Vieler 2023
</footer>
</body>
</html>
